:root {
    --gartic-blue: #1b63da;
    --gartic-yellow: #ffdb58;
    --gartic-bg: #f2f5f8;
    --frame-bg: #746d7a;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--gartic-bg);
    overflow-x: hidden;
}

.bg-pattern {
    background-image: url("../assets/pattern.svg") !important;
    /* background-size: cover; */
    background-size: auto;
    /* background-repeat: no-repeat; */
    background-repeat: repeat;
    background-position: center;
}

.font-game {
    font-family: 'Fredoka One', cursive;
}

/* Notifications */
.notification {
    position: fixed;
    top: 1rem;       /* top-4 */
    left: 50%;       /* left-1/2 */
    
    transform: translateX(-50%) translateY(-100px); 
    
    /* Styling */
    padding: 1rem 2rem;        /* py-4 px-8 */
    border-radius: 9999px;     /* rounded-full */
    font-weight: 700;          /* font-bold */
    
    /* Effects */
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); /* shadow-2xl */
    z-index: 400;
    opacity: 0;
    
    /* Animation */
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1); /* transition-all duration-500 */
}

.notification.show {
    transform: translateX(-50%) translateY(0);
    opacity: 100;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

/* style.css */

/* Estilização da barra de rolagem para navegadores Chrome/Edge/Safari */
.scroll-custom::-webkit-scrollbar {
    width: 6px;
}

.scroll-custom::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-custom::-webkit-scrollbar-thumb {
    background-color: #e2e8f0; /* Um cinza bem clarinho */
    border-radius: 20px;
}

.scroll-custom::-webkit-scrollbar-thumb:hover {
    background-color: #cbd5e1; /* Um pouco mais escuro no hover */
}

/* Para Firefox */
.scroll-custom {
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 transparent;
}